body { 
	background: lightblue;
}


.info{

	width: 800px;
}

.hide {
	display: none !important;
}

.callme{
	margin-bottom: 0px;

}
.container {
	padding: 30px;
	width: 1140px;
	margin: 0 auto;
}
/*Картинка*/
.avatar{
	width: 200;
	border-radius: 20px;
	box-shadow: 4px 4px 14px grey;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.headname {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #0f0f0f;
}
.header__menu {
	position: relative;	
}
.header__menu .menu__btn {
/*Прозрачный задник*/
	background: transparent;
	border: none;
/*Курсор превращается в ручку*/
	cursor: pointer;
}
.header__menu .menu__btn svg {
	width: 25px;
	height: 25px;
}
.header__menu .menu__list {
	background: greenyellow;
	margin: 0;
	padding: 10px 20px;
	list-style-type: none;
	border-radius: 4px;
	background: #e2e2e2;
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translateY(100%);
	display: flex;
	flex-direction: column;
	gap: 10px;
	animation: menu-showing .3s;
}
.header__menu .menu__link {
	background: red;
	font-size: 14px;
	line-height: 16px;
	color: #000;
	text-decoration: none;
}
@keyframes menu-showing {
	from {
	transform: translateY(95%);
}
}
/*стиль кнопки ОТКРЫТЬ ПОРТФОЛИО*/
.toggle{
	margin-left: 80%;
	padding: 0px;
	border-radius: 5px;
	background: lightcoral;
	border-color: lightcoral;
}


/*стиль кода*/
.hljs{
	border-radius: 20px;
	border: 2px solid black;
}


.screen{
	width: 800px;
	border-radius: 20px;
	border: 2px solid black;
}
#invisible{
	display: none;
}